mixin widget(dum, types)
    div.widget
        a(href="#") up
        span &nbsp;
        a(href="#") down
        input(type="text", value=dum.name)
        select
            each type in types
                if(dum.type && dum.type == type)
                    option(selected)= type
                else
                    option= type
        if(dummy.indexOf(dum) != 0)
            a(href="#") -
        if(dummy.indexOf(dum) != 0 && dummy.indexOf(dum) != dummy.length - 1)
            span &nbsp;
        if(dummy.indexOf(dum) != dummy.length - 1)
            a(href="#") +
doctype html
html
    head
        link(href="widget_templating.css",rel="stylesheet")
    body
        - var dummy = [{"name":"John Smith","type":"primary"},{"name":"Ann Other","type":"contributing"},{"name":"Morris Merrier","type":"tertiary"}, {"name":"Lee Terrily-Hu","type":"basically uninvolved to be honest"}];
        - var types = ["primary", "contributing", "tertiary", "basically uninvolved to be honest"];
        form
            input.mps-json-enums-widget(type="hidden",name="PeerReviewedAuthors",data-widget-enums=dummy)
            each dumdum in dummy
                +widget(dumdum, types)
        #widget-template.template
            +widget("|name|", types)
    script(type="text/javascript",src="experiment.js")