mixin widget(dum, types)
    div.widget
        span.up(onclick="lowerRow(this)") up
        span &nbsp;
        span.down(onclick="raiseRow(this)") down
        input(type="text", value=dum.name)
        select
            each type in types
                if(dum.type && dum.type == type)
                    option(selected)= type
                else
                    option= type
        span.minus(onclick="deleteRow(this)") minus
        span &nbsp;
        span.plus(onclick="addRow(this)") plus
doctype html
html
    head
        link(href="widget_templating.css",rel="stylesheet")
    body#body
        - var types = ["primary", "contributing", "tertiary", "basically uninvolved to be honest"];
        #dummy
        form#form
            input.mps-json-enums-widget(type="hidden",id="PeerReviewedAuthors",data-widget-enum-name="",name="PeerReviewedAuthors",data-widget-enums="{'types'}")
            #divs
            div(onclick="handleForm(this)") Enter
        #output
        #widget-template.template
            +widget({"name":"|name|"}, types)
    script(type="text/javascript") var types = ["primary", "contributing", "tertiary", "basically uninvolved to be honest"];
    script(type="text/javascript",src="experiment.js")